.App {
  text-align: center;
}
body{
  background-color: black;
  color: #ffffff;
  overflow: hidden;
  box-sizing: border-box;
}
.main{
  /* border: 2px solid red; */
  width: 80vw;
  height: 100vh;
  margin: 0 auto;
  padding: 1em;
  
}
.head{
  display: flex;
  justify-content: space-between;
}
.typeBox{
  /* border: 2px solid greenyellow; */
  height: 50vh;
  color: grey;
  font-size: larger;
  padding: 1em;
}